<ul>
  <li *ngFor="let dir of directories">
    <span (click)="dir.toggle()"><i class="{{dir.getIcon()}}"></i> &nbsp;&nbsp;&nbsp;{{ dir.displayLabel }}</span>
    <div *ngIf="dir.expanded">
      <ul>
        <li *ngFor="let file of dir.dataArray">
          <span (click)="dir.selectFile(file)"><i class="{{dir.getFileIcon(file.enabled)}}"></i> &nbsp;&nbsp;&nbsp;{{file.docName}}</span>
        </li>
      </ul>
      <!--<tree-view [directories]="dir.directories"></tree-view>-->
    </div>

  </li>
</ul>


